---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const datumFormatter = new Intl.DateTimeFormat("nl-NL", { dateStyle: "long" });
---

<Layout title={post.data.title}>
  <main class="mx-auto max-w-prose p-4">
    <a
      class="inline-block text-sm text-gray-400 hover:text-gray-600"
      href={`/#${post.id}`}>← Terug naar overzicht</a
    >
    <article class="mt-4">
      <header>
        <h1 class="font-pixel text-5xl leading-tight">{post.data.title}</h1>
        <p>
          <span>Door {post.data.author}</span>
          <span aria-hidden="true">·</span>
          <time datetime={post.data.pubDate.toISOString()}>
            {datumFormatter.format(post.data.pubDate)}
          </time>
        </p>
        {
          post.data.tags && (
            <p class="mt-0 mb-8 flex flex-wrap gap-1.5">
              {post.data.tags.map((tag) => (
                <span class="rounded bg-gray-100 px-2 py-0.5 font-mono text-xs font-normal tracking-wide text-gray-700">
                  {tag}
                </span>
              ))}
            </p>
          )
        }
      </header>
      <div>
        <Content />
      </div>
    </article>
  </main>
</Layout>
